.navbar {
  position: fixed;
  width: 100%;
  z-index: 5;
}

.navbar-brand {
  font-size: 30px;
}

.progress {
  width: 0px;
  height: 5px;
  background-color: #007bff;
  position: fixed;
  top: 56px;
  left: 0;
  z-index: 10;
}
